@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html{
    font-size: 18px;
}
body {
    font-family: 'Roboto', sans-serif;
    margin:0;
    background-color: #000000;
}
section {
    display: flex;
    color: #ffffff;
    margin-bottom: 30px;
    padding: 10px;
    background-color: #191919;
    
}
#bio-pic {
    border-radius: 25%;
}
#bio-desc {
    margin-bottom: 20px;
}
#bio-add {
    border: 2px solid #ffffff;
    border-radius: 3px;
    padding: 2px 15px;
    color: #ffffff;
    box-sizing: content-box;
}
.social-icon, #bio-pic {
    margin-right: 30px;
}
img {
    max-width: 100px;
}
h1, h2, p {
    margin: 0;
}
a {
    text-decoration: none;
}