@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
    border: 1px solid #d3d3d3;
}
section {
    margin-bottom: 20px;
    width: 100%;
}
#profile-picture {
    border-radius: 50%;
}
#bio, #name {
    margin-top: 0;
}

#add-contact {
    padding: 25px 0;
    width: 100%;
    border: none;
    color: #ffffff;
    background-color: #10A5F5;
    font-weight: bold;
    font-size: 18px;
}
#accent {
    width: 100%;
    background-color: #10A5F5;
    color: #ffffff;
    padding: 25px 0;
}